@import 'variables';
@import '../../node_modules/ngx-toastr/toastr.css';

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  background: $grey-100 !important;
}

// Common components styles.

.custom-search-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  border: solid 1px $grey-400;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

  // Adjust the search bar width with the screen size.
  @media (max-width: $x-break-point) {
      width: 400px;
  }

  @media (min-width: $x-break-point) {
      width: 600px;
  }
}

.dropdown-tooltip {
  max-width: 200px;
  text-align: center;
}

.k-popup {
  border-radius: 0 !important;
}

.btn-primary {
  background-color: $white !important;
  border-color: $primary !important;
  color: $primary !important;
  border-radius: 50px !important;
  padding: 5px 16px !important;
  font-weight: 500 !important;
}

/*
FORMS
*/
div .custom-form {
  width: 480px;
  margin: 5px auto;
  padding: 5px 0;
}

.custom-form form {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 40px;
}

.custom-form h2 {
  text-align: center;
  font-size: 34px;
  margin: 10px 0 15px;
}

.custom-form .hint-text {
  color: #999;
  text-align: center;
  margin-bottom: 20px;
}

.custom-form .form-group {
  margin-bottom: 20px;
}

.custom-form .btn {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.custom-form-btn {
  text-align: center !important;
  border-color: #5cb85c !important;
  transition: all 0.4s;
}

.custom-form .form-control {
    outline: none !important;
}

.btn {
    border-radius: 50px;
}

.custom-form .form-control {
  font-size: 16px;
  transition: all 0.4s;
  box-shadow: none;
}

.custom-form .input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.custom-form ul:empty {
  display: none;
}

.custom-form li {
  margin-left: 15px;
}