<div class="container custom-form mx-auto">
  <form #loginForm="ngForm" (ngSubmit)="singUp(loginForm)" class="needs-validation">
    <h2>Création du compte</h2>

    <p class="hint-text">Connectez vous avec votre compte favori ou votre adresse mail</p>

    <app-social-sign-in></app-social-sign-in>

    <div class="or-seperator">
      <b>Ou</b>
    </div>

    <div class="form-group">
      <input class="form-control input-lg" (ngModel)="(lastname)" name="lastname" id="lastname" type="text" placeholder="Nom" required/>
    </div>

    <div class="form-group">
      <input class="form-control input-lg" (ngModel)="(firstname)" name="firstname" id="firstname" type="text" placeholder="Prénom" required/>
    </div>

    <div class="form-group">
      <input class="form-control input-lg" (ngModel)="(email)" name="email" id="email" type="email" placeholder="Adresse eMail" required>
    </div>

    <div class="form-group">
      <input class="form-control input-lg" (ngModel)="(password)" name="password" id="password" type="password" placeholder="Mot de passe" required />
    </div>

    <div class="form-group">
      <input class="form-control input-lg" (ngModel)="(passwordBis)" name="passwordBis" id="passwordBis" type="password" placeholder="Répétez le mot de passe" required />
    </div>

    <br/>

    <div class="form-row">
      <div class="col-6 mb-3">
        <a [routerLink]="['/auth']" class="btn btn-secondary">J'ai déjà un compte</a>
      </div>

      <div class="col-6 mb-3">
        <span class="float-right">
          <span (mouseenter)="mouseoverLogin = true" (mouseleave)="mouseoverLogin = false">
            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success signup-btn">Créer un compte</button>
          </span>
        </span>
      </div>
    </div>

    <br/>

    <div>
      <ul class="alert alert-danger">
        <li *ngIf="loginForm.controls.lastname?.invalid && mouseoverLogin">
          Vérifiez votre nom
        </li>
        <li *ngIf="loginForm.controls.firstname?.invalid && mouseoverLogin">
          Vérifiez votre prénom
        </li>
        <li *ngIf="loginForm.controls.email?.invalid && mouseoverLogin">
          Vérifiez votre adresse eMail
        </li>
        <li *ngIf="loginForm.controls.password?.invalid && mouseoverLogin">
          Mot de passe incorrect
        </li>
        <li *ngIf="loginForm.controls.passwordBis?.invalid && mouseoverLogin">
          Mot de passe répété incorrect
        </li>
      </ul>
      <div *ngIf="signUpInvalid" class="alert alert-danger">
        {{errorMessage}}
      </div>
    </div>
  </form>
</div>
