<div class="card">
  <img *ngIf="!ad.imageUrl" src="{{imageBasePath}}default_ad.png" class="card-img-top" alt="...">
  <img *ngIf="ad.imageUrl" src="{{imageBasePath}}{{ad.imageUrl}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ad.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">par {{ad.owner.firstName}} {{ad.owner.lastName}}</h6>
    <p class="card-text">{{ad.description}}</p>
    <a routerLink="/ad/{{ad.id}}" class="btn btn-primary">Consulter</a>
  </div>
</div>
