<nav class="navbar navbar-expand-lg navbar-light border-bottom">
  <img class="d-inline-block align-top mr-2" src="/assets/img/brand-logo.png" width="30" height="30" alt="">
  <a class="navbar-brand">Echange.nc</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">

    <div class="navbar-nav mr-auto mt-2 mt-lg-0">
      <a class="nav-item nav-link" [routerLink]="['/events']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"></a>
      <a class="nav-item nav-link" [routerLink]="['/events/new']" routerLinkActive="active">Proposer</a>
      <a class="nav-item nav-link" [routerLink]="['/events/new']" routerLinkActive="active">Rechercher</a>
      <!--li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li-->
    </div>

    <div class="navbar-header navbar-right">
      <div class="navbar-nav">
        <!--
        <form class="form-inline" (ngSubmit)="searchAnnonces(searchTerm)">
          <input class="form-control mr-sm-2" type="search" placeholder="..." aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
        -->

        <a class="nav-item nav-link" [routerLink]="['/user/login']">Connexion</a>
        <!-- *ngIf="!authService.isAuthenticated()"  -->
        <!--a class="nav-item nav-link" *ngIf="authService.isAuthenticated()" [routerLink]="['/user/profile']">Welcome {{authService.currentUser.firstName}}</a-->
      </div>
    </div>

  </div>
</nav>