.nav.navbar-nav { 
    font-size: 15px; 
}

.navbar-form { 
    padding: 0px; 
}

.navbar-light .navbar-nav .nav-link {
    color: #27A9E3;
    font-weight: bold;
}

li > a.active { 
    color: #F97924; 
}

.search-input { 
    max-width: 150px;
}

/* 
@media (max-width: 1200px) { #searchForm {display} }
*/