<div class="container signup-form mx-auto">
  <form #loginForm="ngForm" (ngSubmit)="signIn(loginForm)" autocomplete="off">
    <h2>Connexion</h2>

    <p class="hint-text">Connectez vous avec votre compte favori ou votre adresse mail</p>

    <app-social-sign-in></app-social-sign-in>

    <div class="or-seperator">
      <b>Ou</b>
    </div>

    <div class="form-group">
      <input class="form-control input-lg" (ngModel)="(email)" name="email" id="email" type="email" placeholder="Adresse eMail" required/>
    </div>

    <div class="form-group">
      <input class="form-control input-lg" (ngModel)="(password)" name="password" id="password" type="password" placeholder="Mot de passe" required/>
    </div>

    <br/>

    <div class="form-row">
        <div class="col-6 mb-3">
          <a [routerLink]="['/sign-up']" class="btn btn-secondary">Créer un compte</a>
        </div>

        <div class="col-6 mb-3">
          <span class="float-right">
            <span (mouseenter)="mouseoverLogin = true" (mouseleave)="mouseoverLogin = false" >
              <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success signup-btn">Connexion</button>
            </span>
          </span>
        </div>
    </div>

    <br/>

    <div>
        <ul class="alert alert-danger">
          <li *ngIf="loginForm.controls.email?.invalid && mouseoverLogin">
            Vérifiez votre adresse eMail
          </li>
          <li *ngIf="loginForm.controls.password?.invalid && mouseoverLogin">
            Mot de passe incorrect
          </li>
        </ul>
        <div *ngIf="signInInvalid" class="alert alert-danger">
          {{errorMessage}}
        </div>
      </div>

  </form>
</div>